
<div class="col-12">
    <h1 class="mt-1">Dashboard</h1>
    <h4>Welcome {{username}}</h4>
    <form method="POST" action="/logout">
        <button type="submit" class="btn btn-dark">Log Out</button>
    </form>
</div>